allow hal_memtrack_default debugfs:file { getattr open read };
allow hal_memtrack_default system_app:dir search;
allow hal_memtrack_default system_app:file { getattr open read };
